<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- nav %>
        <main>
            <%= html %>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>